* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.bg-container {
    width: 100vw;
    min-height: 100vh;
    background-color: #F8F9FA;
}

.logo-box {
    width: 100%;
    /* height: 80%; */
    background-color: #0077b6;
    padding: 10px;
    text-align: center;
}

.logo-box .app-title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.07rem;
    color: #dbe1e6;
}

.password-generator-box {
    width: 100%;
    padding: 15px;
}

.password-generator-title {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
    color: #0077b6;
}

.password-generator-desc {
    font-size: 1.15rem;
    color: #76787b;
    margin: 3px 0;
}

.password-display-box {
    width: 100%;
    min-height: 10vh;
    background-color: #0076b620;
    margin: 10px 0;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px #0076b620,
        -1px -1px 1px #0076b620;
}

.password-display-box .generated-password {
    font-size: 1.6rem;
    color: #1e2023;
    overflow: auto;
}

.bg-container form {
    display: flex;
    justify-content: flex-start;
    padding: 0 15px;

}

.bg-container form .password-range-box label {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
    color: #0077b6;
}

.bg-container form .password-range-box input {
    -webkit-appearance: none;
    appearance: none;
    width: 75%;
    max-width: 240px;
    height: 4px;
    background-color: #0076b620;
    border-radius: 10px;
    margin: 14px 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #0077b6;
    cursor: pointer;
    /* margin-top: -14px; */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}



.password-range-box {
    position: relative;
    width: 100%;
}

.password-len-display {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(10%, -60%);
    box-shadow: 1px 1px 1px #0076b620,
        -1px -1px 1px #0076b620;
}

.password-length {
    font-size: 14px;
    letter-spacing: 0.02rem;
    color: #0077b6;
    background-color: #0076b620;
    width: 100%;
    padding: 10px;
}

.btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;

}


.generate-btn {
    width: 100px;
    height: 30px;
    background-color: #0077b6;
    color: #dfe5eb;
    font-size: 14px;
    letter-spacing: 0.07rem;
    border: none;
    outline: none;
    box-shadow: 3px 3px 2px #0076b620;
}

.note {
    font-size: 1.11rem;
    color: #76787b;
    margin: 3px 0;
    padding: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0077b6;
}

.credits {
    font-size: 11.5px;
    color: #dbe1e6;
    text-align: center;
    padding: 11px 0;
}







@media screen and (min-width: 320px) and (max-width: 480px) {

    body {
        background-color: #F8F9FA;
    }

}







/* 320px — 480px  Mobile*/
/* 481px — 768px  Ipad*/